<div id="component">
  <div id="header-actions">
    <superhero-filter [(filter)]="filter"></superhero-filter>
    <div id="add-hero-button">
      <a mat-fab extended (click)="onAddModal()">
        <mat-icon>add</mat-icon>
        New
      </a>
    </div>
  </div>
  <div class="mat-elevation-z8">
    <table id="superhero-list" mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>

      <ng-container matColumnDef="actions" id="actions_column">
        <th mat-header-cell *matHeaderCellDef id="actions_header"> Actions </th>
        <td mat-cell *matCellDef="let row" id="actions_content">
          <mat-icon id="edit_button" class="action_button" (click)="onEditModal(row)">edit</mat-icon>
          <mat-icon id="delete_button" class="action_button" (click)="onDeleteModal(row)">delete</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">"{{filter()}}" not found</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>
